*{
	margin:0;
	padding: 0;
}

html{
	box-sizing: border-box;
	font-size: 16px;
}

.header{
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
	height: 105vh;
	padding-top: 20px;
}

.nav{
	display: flex;
	justify-content: center;
	padding: 20px 30px;
	position: absolute;
	transform: all 0.3s;
	background: white;
	z-index: 9;
	top: 0px;
	width: 100%;
}

.nav ul {

	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav ul li{
	display: flex;

}
.nav ul li a{
	font-family: times-roman;
	font-size: 1.1em;
	color: #333;
	padding: 0.25rem 0;
	margin: 0 1.80rem;
	text-transform: uppercase;

}
.nav ul li a .logo {

	margin: 0 4erm;

}